# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.*.local

# Firebase config
config.js
plan.md
setup-guide.md

#Ealier versions
index-v1.html
_*

# IDE files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db